@import "base/base";
@import "variables/variables";

.content {
  width: 100%;
  // INSERT CONTENT STYLING HERE

  // For example, if we want all <code>...<code> elements to have pink text, create a rule like this:
  code {
    color: $code;  // The color $code (pink-ish) is defined in ./styles/variables/variables.scss
  }

  // Define your styling with classes as much as possible.
  // Apply classes to an HTML element like this: 
  //           <div class="a-class another-class a-third-class">...</div>
  
  // For example, we can create classes that sets the text
  // color of the element with that class. 

  // Adding the "info" class to an element in index.html will render
  // the text as bold with $info (Ambolt's blue) as the color.
  .info { 
    font-weight: bold;
    color: $info;
  } 
  
  .success {
    font-weight: bold;
    color: $success;
  }

  .warn {
    font-weight: bold;
    color: $warn; 
  }

  .error {
    font-weight: bold;
    color: $error;
  }

}
