@import "../variables/variables";

.muted {
    color: mute($onBackground);
}

.center {
    margin: 0 auto;
    text-align: center;
}


body, html {
    font-family: Nunito;
    background-color: $background;
    color: $onBackground;
    height: 100%;
}

a {
    color: $onPrimary;
    font-size: 1.2em;
    transition: .3s all;

    &:hover {
        color: $secondary;
    }
}


header {
    
    top: 0;
    left: 0;
    position: fixed;

    width: 100%;
    height: $headerHeight;

    background-color: $primary;
    color: $onPrimary;
    font-family: 'Roboto';

    display: flex;
    align-items: center;
    justify-content: center;

    ul {
        width: 100%;
        list-style: none;

        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0;
        padding: 0 2em;

        li {
            img {
                height: auto;
                max-height: 55px;
            }
            .title {
                text-transform: uppercase;
                transition: .8s all;

                &:hover {
                    color: $secondary;
                }
            }
        }
    }
}


.main {
    min-height: 90%;
    margin: $headerHeight auto;
    margin-bottom: -$footerOffset;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-weight: bold;
        font-size: 3em;
        padding: 0;
        margin-bottom: 0.3em;
    }

    .subtitle {
        margin-top: 0em;
    }

    .emoji {
        margin-top: .0em;
        font-size: 4.0em;
    }
      
    .costumerAnwser {
        margin-top: .0em;
        font-size: 4.0em;
        display: inline;
    }

}

.push {
    height: $footerOffset;
}

footer {
    width: 100vw;
    background-color: $primary;
    color: $onPrimary;
    text-align: center;
    position: relative;

    height: $footerHeight;
    padding: $footerPadding;
    margin-top: $footerOffset;

    clear: both;
     
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .muted {
        color: grey;
    }

    a {
        font-size: 1em;
    }

    a.muted {
        text-decoration: none;
    }
}

// Buttons
button {
    padding: 0.5em 1em;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: $radius;
    cursor: pointer;
    border: 2px solid $primary;
    color: $primary;
    background-color: $background;
    transition: all 0.2s;

    &.block {
        display: block;
        width: 100%;
    }

    &.large {
        padding: 0.8em 1.3em;
        font-size: 1.5em;
    }

    &.inline {
        padding: 0 1em;
    }

    &:hover {
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }

    &:active {
        box-shadow: none;
    }

    &:focus {
        outline: none;
    }

    &.info {
        border-color: $info;
        color: $info;

        &:hover {
            background-color: $info;
            color: $background;
        }

        &:active {
            background-color: darken($info, .15);
            border-color: darken($info, .15);
        }
    }

    &.success {
        border-color: $success;
        color: $success;

        &:hover {
            background-color: $success;
            color: $background;
        }

        &:active {
            background-color: darken($success, .15);
            border-color: darken($success, .15);
        }
    }

    &.warn {
        border-color: $warn;
        color: $success;

        &:hover {
            background-color: $warn;
            color: $background;
        }

        &:active {
            background-color: darken($warn, .15);
            border-color: darken($warn, .15);
        }
    }

    &.error {
        border-color: $error;
        color: $success;

        &:hover {
            background-color: $error;
            color: $background;
        }

        &:active {
            background-color: darken($error, .15);
            border-color: darken($error, .15);
        }
    }
}